* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
section, .second {
    padding: 20px 10% 0 10%;
}
section div ul:first-child {
    display: flex;
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
}
section div ul:first-child li, .second div ul:first-child li {
    padding: 20px;
    cursor: pointer;
}
section div ul:first-child li.active, section div ul:first-child li:hover {
    background-color: #CCCCCC;
}
section div ul:last-child li {
    display: none;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
section div ul:last-child li.active, .second div ul:last-child li.active {
    display: block;
    padding: 10px;
}

.second div  {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.second div ul:first-child {
    display: grid;
    grid-template-rows: repeat(3);
}
.second div ul:last-child {
    display: grid;
    grid-template-rows: repeat(3);
    border-top: 1px solid #CCCCCC;
    border-left: 0px
}
